@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap';

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a.active .MuiButtonBase-root {
  background-color: #bbbbbd;
}
